In [1]:
#1
#create one variable containing following type of data:

In [2]:
a=["rishabh",[1,2,5.25],5.253,(4,5.636)]

In [3]:
print(type(a))

<class 'list'>

In [4]:
for i in a:
    print(type(i))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [7]:
#2
#Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.

In [8]:
a="gdfkg"

In [9]:
type(a)

str

In [10]:
b="[hf,gjf,gjfoj]"

In [12]:
type(b)

str

In [13]:
c=['sd','sdg','dgiuhg']

In [14]:
type(c)

list

In [15]:
d=1

In [16]:
type(d)

int

In [26]:
#3
#Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

In [18]:
#the simble / is use of devide

In [19]:
5/6

0.8333333333333334

In [20]:
#the symbole % is for remainder

In [21]:
8%5

3

In [22]:
# the symbole // is used for how many tymes divide

In [23]:
89//5

17

In [24]:
#the symbole ** is used for exponent power

In [25]:
4**6

4096

In [28]:
#4
#Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

In [29]:
y=[4,44,555,55,5.256,'dgkjdsv',True,'dfgdfg','fgdf',55]

In [44]:
i=0
y[i]
while i<10:
    print(y[i])
    print(type(y[i]))
    i=i+1

4
<class 'int'>
44
<class 'int'>
555
<class 'int'>
55
<class 'int'>
5.256
<class 'float'>
dgkjdsv
<class 'str'>
True
<class 'bool'>
dfgdfg
<class 'str'>
fgdf
<class 'str'>
55
<class 'int'>

In [12]:
x=[1,2,3,4,5,6,7,True,5.5,'sjgh']
for i in x:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
7
<class 'int'>
True
<class 'bool'>
5.5
<class 'float'>
sjgh
<class 'str'>

In [45]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

In [9]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))
while A % B == 0:
    divisions += 1  # Increment the counter
if divisions > 0:
     print(f"{A} is divisible by {B} {divisions} times.")
else:
     print(f"{A} is not divisible by {B}.")

Enter number A:  1425
Enter number B:  5

NameError: name 'divisions' is not defined

##### def count_divisible(A, B):
    count = 0
    while A % B == 0:
        A /= B
        count += 1
    return count

A = int(input())
B = int(input())

divisible_count = count_divisible(A, B)

if divisible_count > 0:
    print(f"{A} is divisible by {B} {divisible_count} times.")
else:
    print(f"{A} is not divisible by {B}.")

In [2]:
a,b=int(input())
while b<=a:
    print(b)
    b=b+b

 45,5

ValueError: invalid literal for int() with base 10: '45,5'

In [3]:
a, b = map(int, input().split())

while b <= a:
    print(b)
    b += b

 45,5

ValueError: invalid literal for int() with base 10: '45,5'

In [50]:
#6
#Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

In [51]:
p=[4,5,6,6,1,5,2,5,1,5,1,2,5,1,5,1,52,8,9,4,1,65,15,5,6]

In [58]:
p=[4,5,6,6,1,5,2,5,1,5,1,2,5,1,5,1,52,8,9,4,1,65,15,5,6]
for i in p:
    if i%3==0:
     print(f"{i} is divisible")
    else:
        print(f"{i} not divisible")

4 not divisible
5 not divisible
6 is divisible
6 is divisible
1 not divisible
5 not divisible
2 not divisible
5 not divisible
1 not divisible
5 not divisible
1 not divisible
2 not divisible
5 not divisible
1 not divisible
5 not divisible
1 not divisible
52 not divisible
8 not divisible
9 is divisible
4 not divisible
1 not divisible
65 not divisible
15 is divisible
5 not divisible
6 is divisible

In [59]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.

In [60]:
#mutable in which function we can change and immutable if can't change anything 
#mutable type touples and string       immutable type list
#Mutable objects in Python are those that can be changed after they are created, like lists or dictionaries. Immutable objects, on the other hand, cannot be changed after they are created, such as strings, integers, or tuples

In [61]:
t=[4,'dgd',5.25]

In [62]:
t[1]=5

In [63]:
t

[4, 5, 5.25]

In [64]:
#and for immutable

In [65]:
t=(7,8,9.5)

In [66]:
t[1]

8

In [67]:
t[1]=5

TypeError: 'tuple' object does not support item assignment

In [1]:
x= int(input())
y = int(input())

count = 0
xt=x

while xt % y == 0:
    xt= xt//y
    count += 1

if count > 0:
    print(count)
else:
    print("NO")

 455,5

ValueError: invalid literal for int() with base 10: '455,5'